/* -------------------------------------
 * Colors & Fonts
 * ------------------------------------- */
$navbar-color: black;
$navbar-hover-color: $yellow;
$navbar-font-family: $header-font;
$navbar-bg: white;

/* -------------------------------------
 * Box model
 * ------------------------------------- */
$navbar-height: 50px;
$navbar-vertical-padding: 5px;
$navbar-horizontal-padding: 20px;
$navbar-border-bottom-width: 0;
$navbar-border-bottom-color: grey;

/* -------------------------------------
 * Navbar button
 * ------------------------------------- */
$navbar-btn-height: 40px;
$navbar-btn-bg: lightgrey;
$navbar-btn-color: white;
$navbar-btn-horizontal-padding: 10px;
$navbar-btn-radius: 2px;

/* -------------------------------------
 * Navbar profile picture
 * ------------------------------------- */
$navbar-profile-radius: 50%;
$navbar-profile-border-color: white;
$navbar-profile-border-width: 2px;

/* -------------------------------------
 * SCSS code
 * ------------------------------------- */

.list-inline li{
  display: inline-block;
}

.no-padding{
  padding: 0px;
}

.no-margin{
  margin:0px;
}

.logo{
  font-size:20px;
  font-weight: bold;
}


.logo2{
  font-size:12px;
  font-weight: bold;
}

.castle{
  font-size: 35px;
  padding-left: 5px;
}

.castle2{
  font-size: 22px;
}

.brand-padding{
  padding: 1em 1em;
}

.brand-padding2{
  padding-left: 1em;
}


.navbar-transparent {
  background-color: $gray-darker;
  border-color: white;
  font-size: 20px;
}

.navbar-transparent .navbar-brand,
.navbar-transparent .navbar-nav > li > a {
  color: $gray-lighter;
  line-height: 50px;
}

.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:active,
.navbar-transparent .navbar-nav > li > a:focus,
.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus {
  color: white;
  background-color: black;
}

.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:active,
.navbar-transparent .navbar-brand:focus {
  color: white;
}

.dropdown-menu,
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  background-color: $gray-dark;
  color: $gray-lighter;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{
  background-color: $gray-darker;
  color: white;
}
