---
title: Availability
---

<div class="spacer2"></div>

<div class="container">
	<div class="row">
	  <div>
	  	<%= image_tag "16_9_03.jpg", :class => 'resized' %>
	  </div>
	      <div class="col-sm-12 col-md-6 descrip">
	      	<p>
	      	Il est essentiellement situé dans l'ancien bourg de Châteauneuf que l'on appelle maintenant le Quartier Plumereau. 
	  		C’est dans ce magnifique quartier que nous vous accueillons, dans un ancien hôtel particulier du XVème siècle, « ancien fief du Bourg Saint Père ».
	    		Vous venez passer un week-end, une semaine ou plus à Tours pour des vacances, un voyage d’affaires ou pour des examens et autres concours? Nous vous proposons deux appartements rénovés et équipés de toutes les installations modernes pour votre plus grand confort (avec lien vers les pages descriptives et photos).
	      	</p>
	      </div>

	  <div class="col-sm-12 col-md-6">
	  	<iframe src="https://calendar.google.com/calendar/embed?src=fr.french%23holiday%40group.v.calendar.google.com&ctz=Europe/Paris" style="border: 0" width="500" height="500" frameborder="0" scrolling="no"></iframe>
	  </div>

	</div>
</div>