---
title: Get there
---

<div class="spacer2"></div>

<div class="container">
	<div class="row">
	  <div class="col-sm-12 col-md-6 ">
	  	<%= image_tag "16_9_03.jpg", :class => 'resized' %>
	  </div>
	    <div class="col-sm-12 col-md-6 descrip">
	    	<h1>Autoroute</h1>
	    	<p>	Suivez l'autoroute A10 puis sortie Tours centre</p>

	    	<h1>Train</h1>
	    	<p>Depuis la gare de Tours centre</p>

	    	<h1>Transport en commun</h1>
	    	<p>TRAM et Bus à votre disposition</p>
	    </div>
	</div>
</div>