---
title: What to do
---

<div class="spacer2"></div>

<div class="container">
	<div class="row">
	  <div class="col-sm-12 col-md-6 ">
	  	<%= image_tag "16_9_03.jpg", :class => 'resized' %>
	  </div>
	    <div class="col-sm-12 col-md-6 descrip">
	    	<h1>Restaurant</h1>
	    	<p>Un grand choix pour vos papilles :crèperie, italien mexicain, bistrot, kébab, etiopien... Vous trouverez forcement le plat dont vous rêvez!</p>

	    	<h1>Nature</h1>
	    	<p>Blalade en vélo bord de loire, lac de Tours, jardin botanique, prébendes : tout ce qu'il vous faut pour vous mettre au vert</p>

	    	<h1>Chateau</h1>
	    	<p>Tours est le point de départ idéale pour visiter les chateau de la loire. Située à 10min du chateau de blablabla et de truc machin bidule vous pourriez plannifier sans problème votre itinéraire </p>
	    </div>
	</div>
</div>